# DEPENDÊNCIAS
/node_modules

# ARQUIVOS DE CONFIGURAÇÃO SENSÍVEL
.env

# ARQUIVOS DO BANCO DE DADOS
# Ignora o arquivo principal e os arquivos de log e cache do WAL mode
*.db
*.db-shm
*.db-wal

# FERRAMENTAS
.vscode